.background {
  background-image:url('../img/bg-pic.jpg');
  background-size: 100% 800px;
  background-repeat: no-repeat;
  /*background-color: purple;*/
  width: 100%;
  height: 550px;
  z-index: -2;
  position: relative;
}

#bg-pic {
  width: 100%;
  position: relative;
  z-index: -2;
}

.navbar {
  position: relative;
  clear: both;
  display: block;
  padding-top: 15px;
  margin-bottom: 23px;
  font-size: 15px;
  text-align: center;
}

.navbar ul {
  float: center;
  margin: 0;
  padding: 0;
  display: block;
}

.navbar li {
  display: inline-block;
  list-style: none;
  padding: 8px;
}

.name {
  text-align: center;
  font-size: 40px;
}

.footer {
  position: relative;
  clear: both;
  display: block;
  text-align: center;
  padding-top: 20px;
}

.footer ul, .contact ul  {
  float: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

.content {
  float: center;
  background-color: #66CCFF;
  width: 85%;
  margin: 0 auto;
  height: 500px;
  z-index: 5;
  background: rgba(255, 255, 255, 0.2);
  padding-right: 12px;
}

.footer li, .contact li {
  font-color: #E270AA;
  display: inline-block;
}

.contact {
  font-size: 25px;
  position: absolute;
  margin-left: 80%;
  float: right;
}

#picture {
  float: left;
  width: 50%;
  margin-top: 20px;
}

#picture img {
  float: right;
  padding-right: 30px;
  width: 62%;
}

#bio {
  float: right;
  width: 50%;
}
