body {
  background-color: black;
  font-family: play, sans-serif;
}

.name h1 {
  color: white;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 55px;
  margin-bottom: 0;
  margin-top: 10px;
}

.navbar a, .footer, .name p {
  color: #edb649;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.background {
  background-image:url('../img/bg-pic.jpg');
  background-size: 100% 800px;
  background-repeat: no-repeat;
  /*background-color: purple;*/
  width: 100%;
  height: 550px;
  z-index: 1;
  position: relative;
}

#bg-pic {
  width: 100%;
  position: relative;
}

.navbar {
  position: relative;
  clear: both;
  display: block;
  padding-top: 15px;
  margin-bottom: 23px;
  font-size: 21px;
  text-align: center;
}

#collages {
  margin: 0 auto;
  text-align: center;
  width: 500px;
}

#collages img{
  height: 300px;
  margin: 0 auto;
}

.navbar ul {
  float: center;
  margin: 0;
  display: block;
  padding-left: 55px;
}

.navbar li {
  display: inline-block;
  list-style: none;
  padding: 0 65px 0 65px;
}

.name {
  text-align: center;
}

.footer {
  position: relative;
  clear: both;
  display: block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 18px;
}

.footer ul, .contact ul  {
  float: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

.content {
  float: center;
  background-color: #66CCFF;
  width: 85%;
  margin: 0 auto;
  height: 500px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 12px 0 12px;
}

.footer li, .contact li {
  font-color: #E270AA;
  display: inline-block;
}

.contact {
  font-size: 25px;
  position: absolute;
  margin-left: 85%;
  float: right;
}

#travel-text p {
  text-align: center;
  fot-style: bold;
}

#text-wrapper {
  height: 300px;
  padding-left: 40px;
}

#picture {
  float: left;
  width: 45%;
  margin-top: 20px;
}

#picture img {
  float: right;
  padding-right: 60px;
  width: 62%;
}

#bio {
  float: right;
  width: 55%;
  padding-top: 30px;
}

#slides {
  display:none;
}
